<style>
    .slidecontainer {
        width: 100%;
    }

    .slider {
        -webkit-appearance: none;
        width: 100%;
        height: 15px;
        border-radius: 5px;
        background: #d3d3d3;
        outline: none;
        opacity: 0.7;
        -webkit-transition: .2s;
        transition: opacity .2s;
    }

    .slider:hover {
        opacity: 1;
    }

    .slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background: #4CAF50;
        cursor: pointer;
    }

    .slider::-moz-range-thumb {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background: #4CAF50;
        cursor: pointer;
    }
</style>
<ion-nav [root]="rootPage"></ion-nav>
<ion-footer  style="background-color: black;color:white;">
    <br>
    <ion-row>
        <ion-col col-12>
            <!--<input type="range" (change)="clickfun($event['target']['value'])" min="0" max="{{che1}}" value="{{now1}}" class="slider" id="myRange">-->

            <ion-range min="0" max="100" [(ngModel)]="audio_level" color="primary" (ionChange)="onAudioChange()">
                <ion-label range-left>
                    <span>{{ rangeUpdate()}}</span>
                    <span *ngIf="audio_status == 1 || audio_status == 2">{{get_time(audio.currentTime) }}</span>
                    <span *ngIf="audio_status == 0">00:00</span>
                </ion-label>
                <ion-label range-right>
                    <span *ngIf="audio_status == 1 || audio_status == 2">{{get_time(audio.duration) }}</span>
                    <span *ngIf="audio_status == 0">00:00</span>
                </ion-label>
            </ion-range>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col *ngIf="audio_repeat == false" (click)="audioRepeatChange(1)" col-1 padding-vertical text-left><ion-icon name="repeat" style="font-size: 30px;color: #909090"></ion-icon></ion-col>
        <ion-col *ngIf="audio_repeat == true" (click)="audioRepeatChange(0)" col-1 padding-vertical text-left><ion-icon name="repeat" style="font-size: 32px;color: white"></ion-icon></ion-col>
        <ion-col col-10>
            <ion-row>
                <ion-col col-2 offset-3 text-right margin-top (click)="pre()"><ion-icon name="rewind" style="font-size: 20px;"></ion-icon></ion-col>

                <ion-col col-2 padding-top text-center (click)="audioChange(2)" *ngIf="audio_status == 1"><ion-icon name="pause" style="font-size: 30px;"></ion-icon></ion-col>
                <ion-col col-2 padding-top text-center (click)="audioChange(1)" *ngIf="audio_status != 1"><ion-icon name="play" style="font-size: 30px;"></ion-icon></ion-col>
                <ion-col col-2 margin-top (click)="next()"><ion-icon name="fastforward" style="font-size: 20px;"></ion-icon></ion-col>
            </ion-row>
        </ion-col>
        <ion-col col-1 padding-vertical padding-bottom text-right (click)="download()"><ion-icon name="cloud-download" style="font-size: 20px;"></ion-icon></ion-col>
    </ion-row>
</ion-footer>
